
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.25px !important;
}

body {
    font-family: 'SF Pro Disply';

}
p{
    line-height: 1.4;
    color: #44474B;
}
.box-shadow{
    box-shadow: rgba(84, 97, 101, 0.2) 0px 1px 15px 0px;
}
.splide__arrow svg {
    fill: #ffffff !important;
    height: 2.5em;
    transition: fill .2s linear;
    width: 2.5em;
}
label{
    font-size: 14px;
    opacity: 0.9;
}
input,textarea{
    width: 100%;
    border: 1px solid #E4E7E9;
    border-radius: 4px;
    padding: 0.5rem !important;
    outline: none;
}

.trans {
    transition: all 0.3s ease-in-out;
  }

  .table td{
    padding: 0.65rem 1rem;
    font-size: 14px;
    color: #5F6C72;
    border-bottom: 1px solid #E4E7E9;
  }
  .table thead td{
    font-weight: 500;
    color: #000;
  }
  ::-webkit-scrollbar {
   display: none;
  }
  